.parent {
  width: 300px;
  height: 200px;
  background-color: royalblue;
}

.child{
  width: 100px;
  height: inherit;
  background-color: inherit;
  position: fixed;
  top: 100px;
  right: 10px;
}


/* 
   스타일 상속

   부모/조상 클래스에 스타일을 적용하면 아래 자식쪽도 적용되는걸 스타일 상속이라고 한다.

   산속되는 css 속성들

   모두 글자/문자 관련 속성들 (모든 글자/문자/ 속성은 아님 주의!)

   font-style: 글자 기울기
   font-weight: 글자 두께
   font-size: 글자 크기
   line-height: 줄 높이
   ont-family: 폰트(서체)
   color: 글자 색상
   test-align: 정렬 ...
   
*/