/* 
.container {

} */

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 4px solid red;
  margin: 10px;
  
}

.container .item:first-child {
  padding: 20px;
}

/*
  padding: 요소의 내부 여백(공간)을 지정하는 단축 속성/ 요소의 크기가 커진다.

    0: 내부 여백 없음
    단위: px, em, vw 등 단위로 지정
    %: 부모 요소의 가로 너비에 대한 비율로 지정

    padding: 0; (top, right, bottom, left)
    padding 10px; 위아래 좌우 내부안에 여백이 생긴다. 요소의 내부에 추가가되는 것이기 때문에 크기가 커진다.

    margin과 동일하게 값이 4개가 들어갈 수 있고, 방향또한 동일하다.

    
    

*/