/* 
.container {

} */

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 4px solid red;
  margin: -20px 10px;
}

/*
  margin : 요소의 외부 여백(공간)을 지정하는 단축 속성, 음수도 사용 가능하다.

  0: 외부 여백 없음 
  auto: 브라우저가 여백을 계산 (가로/세로 너비가 있는 요소의 가운데 정렬에 활용)
  단위: px, em, vw 등 단위로 지정

  margin은 4개의 값으로 작성이 가능하다
  margin: 10px 20px 30px 40px;

  1개 값: top,right,bottom, left;
  2개 값: top,bottom, left,right;
  3개 값: top, left,right, bottom;
  4개 값: top, right, bottom, left;

  개별속성: margin-방향:
    margin-top
    margin-bottom
    margin-left
    margin-right

    

*/