h1{
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-family: serif;
}

p{
  /* font-size: 16px; */
  width: 350px;
  padding: 10px;
  border: 1px solid;
  box-sizing: border-box;
  line-height: 1.4;
}

/*

opacity: 요소 투명도

1(기본 값): 불투명
0 ~ 1: 0부터 1사이의 소수점 숫자

font-style: 글자의 기울기

  normal: 기울기 없음
  italic: 이텔릭체
  oblique: 기울어진 글자

font-weight: 글자의 두께(가중치)

  normal,400: 기본 두께
  bold, 700: 두껍게
  bolder: 상위(부모) 요소보다 더 두껍게
  lighter: 상위(부모) 요소보다 더 얇기
  100 ~ 900: 100단위의 숫자 9개, normal과 bold이외 두께

font-size: 글자의 크기

  16px: 기본 크기
  단위: px, em, rem 등 단위로 지정

line-height: 한 줄의 높이, 행간과 유사
  normal: 브라우저의 기본 정의를 사용
  숫자: 요소의 글꼴 크기의 배수로 지정
  단위: px, em, rem 등의 단위로 지정

font-family: 글꼴1, "글꼴2", ...글꼴계열;
  띄어쓰기 등 틀수문자가 포함된 글꼴 이름은 큰 따옴표로 묶어야한다.
  글꼴계열은 필수로 작성

  serif: 바탕체 계열
  sans-serif: 고딕체 계열
  monospace: 고정너비(가로폭이 동등) 글꼴 계열
  cursive: 필기체 계열
  fantasy: 장식 글꼴 계열

*/